.portada {
    border-radius: 10px;
}
.list-movies {
    cursor: pointer;
}

small, .small {
    font-size: 0.7em;
}

i {
    position: relative;
    padding-right: 0.1rem;
    color: #d3d3d3;
}

.filled {
    color: red;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}